<!DOCTYPE html>
{%  load staticfiles %}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Django-Medium - Just another medium clone made with Django</title>
    <link rel="stylesheet" href="{% static "styles/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "styles/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/theme.css" %}">
    <link rel="stylesheet" href="{% static "scripts/bootstrap.js" %}">
</head>
<body>
    {% include 'layout/header.html' %}
    {% block body_block %}

    {% endblock %}
    {% include 'layout/footer.html' %}
</body>
</html>
